<div class="container">
        <div class="row">
            <p>heya tanisha</p>
            <p>hiiii</p>
            <div class="tetx">
                <h1>tansiha singh</h1>
            </div>
        </div>
    </div>